# Entornos virtuales
.venv/
venv/
ENV/
env/

# Variables de entorno locales
.env
.env.local
.env.prod
.env.development

# Cachés de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Archivos de logs
*.log

# Subidas locales de imágenes de productos
uploads/
